:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

.Ex_project_page{
    display: flex;
    flex-direction: column;
    margin-left: 14vw;
    padding: 2rem;
    margin-top: 5vw;

}
.light-blue-box {
    background-color: #71c6ff;
    border: 1px solid #cfe2f3;
    border-radius: 10px;
    width: 80vw;
    padding: 2rem;

  }

  .blue-box-title{
    font-size: 2.8vh;
    font-weight: 600;
    color: var(--Sub-color);
    margin-bottom: 1%;
  }
  .form-group {
    margin-bottom: 10px;

  }

  .form-group input{
    border: none;
    border-radius: 10px;
    background-color: #fefefe;
    padding: 15px 10px;
    width: 70%;
    font-weight: 400;
    font-size: 14px;
    color: #D9D9D9;
   
  }

  .form-group textarea{
    width: 96%;
    border: none;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 8px;
    height: 100px;
    font-weight: 400;
    font-size: 14px;
    background-color: #f7f7f7;
}

.date-boxes{
    border: none;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 15px 10px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
}


.blue-project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--Main-color)  ;
    color: white;
    padding: 0px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.3s ease;
    height: 40px;
    gap: 15px;
    margin-top: 1%;
    width: 35%;
  }
  
  .blue-project-btn:hover {
    background-color: var(--Main-color); 
  }
  
  
  .blue-project-btn-add-icon-team {
    font-size: 22px;
    color: white;
  }
  
  .blue-project-btn-text{
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .remain-box{
    margin-top: 2vw;
  }

  .full-box-title{
    font-size: 2.8vh;
    font-weight: 600;
    color: var(--Main-color);
 
  }

  .project-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
   
  }

  
  .project-box {
    border: 2px solid var(--Main-color);
    border-radius: 10px;
    padding: 20px;
    width: 31%;
    height: 30%;
  }

  .project-name-row{
    display: flex;
  }
  
  .project-name{
    font-size: 2.5vh;
    font-weight: 600;
    margin-top: 1vw;
  }

  .heart-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fedbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .heart-icon {
    font-size: 20px; 
}


  .project-detail-team-members{
    display: flex;
    gap: 10px;

  }
  
  .project-detail-team-members img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }

  .project-detail-row{
    display: flex;
    gap: 5px;
  }

  .project-subdetail{
    color: var(--Light);
  }

  .project-maindetail{
    color: var(--Main-color);
    font-weight: 500;
  }

  /* Create project page 01 */
  .create-project-1{
    display: flex;
    flex-direction: column;
    margin-left: 14vw;
    padding: 2rem;
    margin-top: 5vw;
  }

  .create-project-row{
    display: flex;
    justify-content: space-between;
   
  }

  .create-project-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    background-color: var(--Sub-color);
    box-shadow: 1px 2px 4px 2px rgba(107, 107, 107, 0.1);
    border-radius: 20px;
    padding: 3vh;
  }

  .project-box-image{
    margin-bottom: 2vw;
  }

  /* Pop-Up Overlay */
  .project-popup-overlay {
    background: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

.project-popup-content {
    background-color: var(--Main-color); 
    color: white;
    padding: 40px;
    border-radius: 10px;
    width: 800px;
    
}

.project-form-main-title{
    display: flex;
    gap: 1vw;
}
.project-popup-close {
    background-color: white;
    color: var(--Light);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.project-popup-content h3 {
    margin-bottom: 20px;
  }
  
  .project-form-group {
    margin-bottom: 20px;
  }
  
  .project-form-group label {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .project-form-group input, .project-form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
  }
  
  .project-form-group textarea {
    resize: none;
    height: 80px;
  }
  
  .add-subtask-button {
    display: flex;
    background-color: #c9e1fd;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 40%;
    align-items: center;

  }

  .project-labels-row{
    display: flex;
    gap: 2vw;
    margin-top: 40px;
  }
  
  .one-project-label{
    background-color: #4c617a;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 40%;
    align-items: center;
    display: flex;

  }

  .subtask-form-input-row{
    display: flex;
    gap: 2vw;
  }
  .subtask-form-input{
    border: solid 1px var(--Main-color);
    background-color:white;
    padding: 10px 10px;
    width: 100%;
    color: var(--Light);
    margin-top: 0%;
  }
 
  .subtask-form-input-label{
    background-color: var(--Main-color);
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 20%;
    align-items: center;
    display: flex;
  }

  .subtask-btn-row{
    display: flex;
    margin-top: 10px;
    gap: 2vw;
  }

  .subtask-btn-primary{
    background-color:#8bdaf7 ;
    color: white;
    border: 2px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15%;
    padding: 5px;

  }

  .subtask-btn-secondary{
    background-color: var(--Main-color);
    color: #8bdaf7;
    border: 2px solid #8bdaf7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15%;
    padding: 5px;

  }

  .members-popup {
    background-color:var(--Main-color); 
    color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 3000;
    position: fixed;
    top: 6vw; 
    left: 25vw;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .members-popup-topic{

     align-items: center;
     justify-content: center;
     margin-top: 2vw;
     margin-bottom: 2vw;
     font-size: 18px;
     font-weight: bold;
  }

  .member-popup-close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
}

  .members-search-bar {
    width: 90%;
    padding: 10px;
    margin-left: 2.2vw;
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--Main-color);
    color: white;
    font-size: 14px;
    outline: none;
  }
  
  .members-search-bar::placeholder {
    color: #d9d9d9; 
  }
  
  .member-label{
    display: flex;
    gap: 2vw;
    margin-top: 1vw;
    background-color: #4c617a;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin-left: 2vw;
    padding-left: 20px;
   
  }

  .member-profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 5px;
  }

  .member-name{
    margin-top:10px;
  }

  .add-member-button{
    background-color: #68bcd4 ;
    color: white;
    padding: 10px ;
    border: 2px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 40%;
  }

  .add-task-button {
    background-color: var(--Main-color);
    color: white;
    padding: 10px 20px;
    border: 2px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
