:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .project-body{
    padding: 20px;
    width: 84vw;
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    padding: 1rem;
  }
  .project-boxs{
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
  }
  .project-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    box-shadow: 
    -4px 0px 4px rgba(0, 0, 0, 0.2),  
    0px -4px 4px rgba(0, 0, 0, 0.2), 
    0px 4px 4px rgba(0, 0, 0, 0.2),   
    4px 0px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 3vh;
  }
  .project-box-top{
    display: flex;
    justify-content: space-between;
    color: var(--Main-color);
  }
  .project-box-title{
    font-size: 3vh;
    font-weight: 600;
  }
  .project-box-top-icon{
    font-size: 4vh;
    color: #D9D9D9;
  }

  .project-card{
    background-color: var(--Main-color);
    padding: 2vh 3vh;
    border-radius: 15px;
    margin-top: 2vh;
    cursor: pointer;
  }
  .project-card-color-boxs{
    display: flex;
  }
  .project-card-color-box{
    width: 6vh;
    height: 1.2vh;
    margin-right: 1.5vh;
    border-radius: 20px;
  }
  .project-card-content{
    display: flex;
    justify-content: space-between;
  }
  .project-card-content p{
    font-size: 1.6vh;
    color: var(--Sub-color); 
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
  }
  .project-card-content input{
    display: flex;
    align-items: center;
    margin: 0;
  }
  .project-card-date{
    color: var(--Light);
    font-size: 1.3vh;
    margin: 0;
  }
  .project-card-circle{
    border: solid white 2px;
    height: 7vh;
    width: 7vh;
    border-radius: 40px;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project-card-circle p{
    margin: 0;
    font-weight: 600;
    font-size: 1.8vh;
  }
  .project-card-circle div{
    margin: 0;
    font-size: 0.6vh;
    color: var(--Light);
   
  }
  .project-addtask{
    width: 100%;
    border: solid  2px;
    border-color: var(--Main-color);
    color: var(--Main-color);
    padding: 1vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .project-body{
    padding: 20px;
    width: 79vw;
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    padding: 1rem;
  }
  .project-boxs{
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
  }
  .project-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    box-shadow: 
    -4px 0px 4px rgba(0, 0, 0, 0.2),  
    0px -4px 4px rgba(0, 0, 0, 0.2), 
    0px 4px 4px rgba(0, 0, 0, 0.2),   
    4px 0px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 3vh;
  }
  .project-box-top{
    display: flex;
    justify-content: space-between;
    color: var(--Main-color);
  }
  .project-box-title{
    font-size: 14px;
    font-weight: bold;
  }
  .project-box-top-icon{
    font-size: 4vh;
    color: #D9D9D9;
  }

  .project-card{
    background-color: var(--Main-color);
    padding: 2vh 3vh;
    border-radius: 15px;
    margin-top: 2vh;
    cursor: pointer;
  }
  .project-card-color-boxs{
    display: flex;
  }
  .project-card-color-box{
    width: 6vh;
    height: 1.2vh;
    margin-right: 1.5vh;
    border-radius: 20px;
  }
  .project-card-content{
    display: flex;
    justify-content: space-between;
  }
  .project-card-content p{
    font-size: 1.6vh;
    color: var(--Sub-color); 
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
  }
  .project-card-content input{
    display: flex;
    align-items: center;
    margin: 0;
  }
  .project-card-date{
    color: var(--Light);
    font-size: 1.3vh;
    margin: 0;
  }
  .project-card-circle{
    border: solid white 2px;
    height: 7vh;
    width: 7vh;
    border-radius: 40px;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project-card-circle p{
    margin: 0;
    font-weight: 600;
    font-size: 1.8vh;
  }
  .project-card-circle div{
    margin: 0;
    font-size: 0.6vh;
    color: var(--Light);
   
  }
  .project-addtask{
    width: 100%;
    border: solid  2px;
    border-color: var(--Main-color);
    color: var(--Main-color);
    padding: 1vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }

  .projectcreate{
    width: 100%;
    background-color: #55B7D6;
    border-radius: 20px;
    padding:30px 20px 20px 40px; 

  }
  .projectcreate h5{
    color: white;
    font-weight: bold;
    margin: 0%;
  }
  .projectcreate-div1{
    display: flex;
    align-items: center;
    margin-top: 1vh;
    border-radius: 10px;
  }
  .inputs1{
    border-radius: 10px;
    border: none;
    padding:5px;
  }