
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .project-body{
    padding: 20px;
    width: 79vw;
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    padding: 1rem;
    margin-top: 0;
  }
  .project-boxs{
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
  }
  .project-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    background-color: var(--Sub-color);
    box-shadow: 1px 2px 4px 4px rgba(107, 107, 107, 0.1);
    border-radius: 20px;
    padding: 3vh;
  }
  .project-box-top{
    display: flex;
    justify-content: space-between;
    color: var(--Main-color);
  }
  .project-box-title{
    font-size: 16px;
    font-weight: bold;
  }
  .project-box-top-icon{
    font-size: 4vh;
    color: #D9D9D9;
  }

  .project-card{
    background-color: var(--Main-color);
    padding: 2vh 3vh;
    border-radius: 15px;
    margin-top: 2vh;
    cursor: pointer;
  }

  .select-project-card{
    background-color: var(--Main-color);
    padding: 2vh 3vh;
    border-radius: 15px;
    margin-top: 2vh;
    cursor: pointer;
    width: 450px;
    
  }
  .project-card-color-boxs{
    display: flex;
  }
  .project-card-color-box{
    width: 6vh;
    height: 1.2vh;
    margin-right: 1.5vh;
    border-radius: 20px;
  }

  .project-card-color-box-popup{
    width: 25vh;
    height: 5vh;
    margin-right: 1.5vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    align-self: center;
  }
  .project-card-content{
    display: flex;
    justify-content: space-between;
  }
  .project-card-content p{
    font-size: 1.6vh;
    color: var(--Sub-color); 
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
  }
  .project-card-content input{
    display: flex;
    align-items: center;
    margin: 0;
  }
  .project-card-date{
    color: var(--Light);
    font-size: 1.3vh;
    margin: 0;
  }
  .project-card-circle{
    border: solid white 2px;
    height: 7vh;
    width: 7vh;
    border-radius: 40px;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project-card-circle p{
    margin: 0;
    font-weight: 600;
    font-size: 1.8vh;
  }
  .project-card-circle div{
    margin: 0;
    font-size: 0.6vh;
    color: var(--Light);
   
  }

  .project-addtask{
    width: 100%;
    border: solid  2px;
    border-color: var(--Main-color);
    color: var(--Main-color);
    padding: 1vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }

  .date-members{
    display: flex;
    justify-content: space-between;
  }

  .project-card-members{
    display: flex;
    gap: 5px;
  }
  .project-card-member{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .project-card-member-popup{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .project-card-member-progress{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: var(--Main-color);
    color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 900px;
    position: relative;
  }
  
  .popup-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  

  .popup-top{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

  }

  .sticky{
    font-size: 2rem;
  }

  .description-label {
    color: gray;
  }

  .subtasks-button {
    background-color: #ab0d93;
    color: var(--Sub-color);
    padding: 1vh 9vh;
    border-radius: 10px;
    font-size: 1.8vh;
    font-weight: 500;
  }
  
  


  .popup-bar-label{
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 13px;
    padding: 8px;
  }

  .nested-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; 

  }
  
  .nested-popup-content {
    background-color: #000F44;
    color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 40%;
    position: relative;
    align-items: center;
    text-align: center;
  }
  
  .nested-popup-content h4{
    align-self: center;
  }
  
  
  .project-card-circle-popup{
    border: solid white 2px;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 5%;
    
  }
  .project-card-circle-popup p{
    margin: 0;
    font-weight: 600;
    font-size: 5vh;
    color: red;
  }
  .project-card-circle-popup div{
    margin-left: 5px;
    font-size: 2vh;
    color: var(--Light);
   
  }

  
.subtasks-container {
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
  margin: 10px 0; 


}


.subtask-item {
  display: flex;
  align-items: center; 
}

.subtask-checkbox {
  margin-right: 10px;
}


.subtask-label {
  font-size: 14px; 
  color: var(--Sub-color); 
}


.project-choose{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  background-color: var(--Sub-color);
  box-shadow: 1px 2px 4px 4px rgba(107, 107, 107, 0.1);
  border-radius: 20px;
  padding: 3vh;
  margin-left: 10%;
  margin-top: 2%;
  
}

.project-columns {
  display: grid;
  grid-template-columns: repeat(2, 2fr); /* Creates two columns */
  gap: 20px; /* Adds space between columns */
}





.project-form-button-row{
  margin-top: 20px;
  display: flex;
  gap: 78%;
  /* margin-left: 60%; */

}

.project-next-button{
  background-color: #007BFF; 
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
 
}
.project-back-button{
  text-decoration: none;
  border: none;
  background-color: var(--Sub-color);
  font-size: 13px;
  font-weight: 600;
  color: #b3b3b3;

}

.task-agile-row{
  display: flex;
  justify-content: space-between;
}

.select-agile-button {
  background-color: #92c6fe;
  color: white;
  padding: 10px 20px;
  border: 2px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
  width: 25%;
  font-size: 16px;
  font-weight: bold;
  margin-left: 69%;

}



.task-review-container {
  position: relative;
  display: inline-block;

}

.task-review-button {
  color: var(--Main-color);
  padding: 10px 60px;
  border: 2px solid var(--Main-color);
  border-radius: 10px;
  cursor: pointer;
  /* width: 100%; */
  font-size: 16px;
  font-weight: bold;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px; 
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 8px; 
  min-width: 30px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.project-addSubtask{
  border: solid  2px;
  border-color: white;
  color: white;
  padding: 2vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 1.8vw;
  margin-top: 1.8vw;
}

.task-review-add-line{
  display: flex;
  justify-content: space-between;
  gap: 180%;
}

.share-textarea{
width: 96%;
border: none;
padding-left: 15px;
padding-top: 10px;
border-radius: 8px;
height: 100px;
font-weight: 400;
font-size: 14px;
background-color: #f7f7f7;

}
