:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
    --blue-btn:linear-gradient(to right, #86D3EC 0%, #55B7D6 39%, #1E98BE 100%);
  }
.footer-body{
    height: 40vh;
    background-color:var(--Main-color) ;
    color: var(--Sub-color);
    position: relative;
    overflow-x: hidden;

}
.quick-link{
    color:#9B9898;
    cursor: pointer;
}
.quick-link-icon{
  color:var(--Light) ;
}
.contact-us{
    color:#9B9898;
}
.social-media-icon{
    background-color:#D9D9D9 ;
    color: var(--Sub-color);
    margin: 3px;
    padding: 10px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
.feedback-textbox{
    background-color:transparent;
    width: 300px ;
    margin-top: 10px;
    height: 80px;
    color: #D9D9D9;
    font-size: 14px;
}

.gradient-blue-btn{
    padding: 8px 50px;
    border-radius: 14px;
    background:linear-gradient(to right, #86D3EC 0%, #55B7D6 39%, #1E98BE 100%);
    border: none;
    color: var(--Light);
}
.copyright{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 20px;
}