:root{
  --Main-color:#000F44;
  --Sub-color:#FFFFFF;
  --available:#F37C98;
  --approved:#9BF37C;
  --rejected:#F39F7C;
  --pending:#FFAC0A;
  --approved-btn:#02C416;
  --Light:#D9D9D9;
  --Flex-heading:#FFBB00;
  --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
}

.header-body{
  display: flex;
  width: 100%;
  /* height: 6vh; */
  position: fixed;
  margin-left: 14.6%;
  margin-top: 0rem;
  /* margin-right: 0rem; */
  background-color: white;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  height: 11vh;
  position: fixed;
  top: 0;
 

  /* box-shadow: 
  -10px 0px 10px rgba(0, 0, 0, 0.2),  
  0px -10px 10px rgba(0, 0, 0, 0.2), 
  0px 10px 10px rgba(0, 0, 0, 0.2),   
  10px 0px 10px rgba(0, 0, 0, 0.2);    */
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
}

.header-content h2{
  font-size: 16px;
  margin: 0;
  color: var(--Main-color);
  margin-left: 1rem;
  font-weight: bold;
}
 .header-profile{
  margin-left: 57vw;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

}
.header-content div img{
  height:6vh;
  border-radius: 30px;
  margin-right: 10px;
}


.profile-pic{
  margin-left:80px;
  
}

.header-hr{
  color: #D9D9D9;
  height: 50px;
}

.notify-icon{
  color: var(--Main-color);
  margin-top: 10px;
}