:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  
  .attendance-body{
    padding: 2%;
    width: 81vw;
    display: flex;
    flex-direction: column;
    margin-left: 16rem;
    padding: 1rem;
    margin-top: 0;
  }


  .rectangles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 7%;
   
  }
  
  .rectangle {
    width: 300px;
    height: 110px;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2%; 
    /* position: relative; */
    padding-left: 1%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  

   
  }

  .rectangle:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;

  }

  .rectangle_diff{
    width: 23%;
    height: 200px;
    border-radius: 10px;
  
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem; 
    background: linear-gradient( #86D3EC 0%, #55B7D6 72%, #1E98BE 100%);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;
    padding-top: 6%;
  }
  
  .rectangle-1 {
    background-color: #ff6f61; /* Light Red */
  }
  
  .rectangle-2 {
    background-color: var(--available)
  }
  
  .rectangle-3 {
    background-color:var(--approved-btn)
  }
  
  .rectangle-4 {
    background-color: var(--rejected)
  }


  .small-square {
    width: 35%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3); /* 30% transparency */
    /* left: 10px;  */
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  

  .icon {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 35px; 
  }


  .clock-icon{
    color: rgba(255, 255, 255, 0.7); 
    font-size: 25px; 

  }
 
  .sun-time{
    display: flex;
    padding:5%;
    color: rgba(255, 255, 255, 0.7);
  
  }

  .sun-icon {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 60px; 
    position: absolute;
    /* margin-left: 0.01%; */
    margin-top: -50px;
    display: flex;
  }

  .time-content{
    font-size: 22px;
    margin-left: 35%;
    margin-top: -40px;
  }

  .sub-time-content{
    font-size: 15px;
    margin-left: 4%;
  }


  .today-time{
    margin-top: 1%;
    margin-left: 2%;
  }

  .main-today-time{
    font-size: 15px;
  }

  .sub-today-time{
    font-size: 18px;
    margin-top: -20px;
  }

  .main-box-content{
    font-size: 25px;
    margin-left: 20%;
  }

  .main-box-content_1{
    font-size: 25px;
    margin-left: 0.2%;

  }

  .sub-box-content{
    font-size: 12px;
    /* margin-left: 2%; */
  }
  

  .sub-box-content-1{
    font-size: 14px;
    margin-left: 20px;
  }
  
.second-row-rectangles{
    display: flex;
    justify-content: space-between;
}


.additional-rectangle-1 {
    width: 23%;
    height: 165px;
    border-radius: 10px;
    background-color: var(--Sub-color);
    margin-bottom: 1rem;
    box-shadow: 1px 2px 2px 2px  rgba(107, 107, 107, 0.1);
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 2%;
    margin-top: 0.5%;
  }
  
 
 
  .text-row{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    font-size: 16px;
    color: var(--Main-color);
  }

  .progress-line {
    width: 100%;
    height: 30px;
    background-color: var(--Main-color);
    border-radius: 20px;
    margin-top: 5%;
    overflow: hidden;
}

.progress-bar {
    width: 70%; 
    height: 100%;
    background-color: #1E98BE;
    border-radius: 20px;
}

.button-row {
    display: flex;
    gap: 30%;
    margin-top: 10%;
}

.first-word {
  font-size: 12px;
}
.custom-button {
    border: 2px solid var(--Main-color);
    background-color: transparent;
    color: var(--Main-color);
    padding:  2% 5%;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 10px;
    font-weight: 500;
}

.custom-button:hover {
    background-color: var(--Main-color);
    color: white;
}

.additional-rectangle-2 {
    width: 72%;
    height: 260px;
    border-radius: 10px;
    background-color: var(--Sub-color);
    box-shadow: 2px 2px 4px 2px rgba(107, 107, 107, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-top: -7%;
    overflow: hidden;
    padding: 1%;
}

.additional-rectangle-2 canvas {
    width: 100% !important;
    height: 100% !important;
}

.additional-rectangle-3{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: var(--Sub-color);
    box-shadow: 1px 4px 4px 4px  rgba(107, 107, 107, 0.1);
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
    font-size: 15px;
    color: var(--Main-color);
    margin-top: 20px;
   
  }
  
  .attendance-records-text {
    margin-bottom: 10px;
}

.dropdown-row {
    display: flex;
    gap: 60%;
}

.attendance-custom-dropdown {
    padding: 1%;
    padding-right: 10%;
    /* padding-left: 5%; */
    font-size: 11px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #D9D9D9;
    background-color: var(--Sub-color);
    font-size: 13px;
}

.attendance-search-button{
    
    font-size: 13px;
    border-radius: 40px;
    color: var(--Sub-color);
    background-color: var(--Main-color);
    margin-left: 43%;
    outline: none;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid var(--Main-color);
    font-weight: 500;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    /* padding-top: 2%;
    padding-bottom: 2%; */
}


.custom-table-container {
    margin-top: 3%;
    padding: 5px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; 
    font-size: 13px;
    border-radius: 20px;
}

.custom-table th {
    background-color: #000F44;
    color: white;
    padding: 3%;
    text-align: left;
    
}

.custom-table td {
    background-color: white;
    color: #000F44;
    padding: 10px;
    border-radius: 5px;
   
}


.custom-table tr {
    background-color: white;
}




.ontime  , .late , .absent {
    border: 2px solid #213fa9;
    border-radius: 50px;
    color: #FFAC0A; 
    padding: 5px;
    background-color: var(--Sub-color);
    width: 50%;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    font-size: 13px;
}

.ontime{
    border: 2px solid var(--approved-btn);
    color: var(--approved-btn); 
}

.late{
    border: 2px solid var(--pending);
    color: var(--pending); 
}

.absent{
    border: 2px solid var(--rejected);
    color: var(--rejected); 
}

.custom-table{
  font-size: 13px;
}

.custom-table td{
  font-size: 13px;
}

.custom-table th{
  font-size: 13px;
}