:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
.event-top-tap{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 7px;
    cursor: pointer;
}
.event-top-tap-active{
    color:var(--Sub-color) ;
    background-color: var(--Main-color);
    border: solid;
    border-color: var(--Main-color);
}
.event-top-tap-nonactive{
    background-color:var(--Sub-color) ;
    color: var(--Main-color);
    border: solid;
    border-color: var(--Main-color);
}
.border-start-round{
    border-radius:  20px 0px 0px 20px ;
}
.border-end-round{
    border-radius: 0px 20px 20px 0px;
}

.activity-cards-container{
    display: flex;
}

.event-vacancy-card{
    color:var(--Sub-color);
    background-color: var(--Main-color);
    display: grid;
    width: 47%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
}
.event-vacancy-type{
    color: var(--Main-color);
    
    padding: 4px ;
    display: flex;
    text-align: center;
}
.event-vacancy-type span{
    background-color: #99EDFF;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 500;
}
.event-vacancy-time{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    color: #7B7878;
}
.event-vacancy-salary   {
    font-size: 13.5px;
    margin-left: 10px;
    color: #7B7878;
}
.event-vacancy-updated-time{
   position: absolute;
   bottom: 10px;
   right: 30px;
   color: #7B7878;
   font-size: 12.5px;
}
.event-vacancy-card-icon{
    color: #99EDFF;
    margin-left: 20px;
    margin-right: 10px;
}
.event-vacancy-card-button{
        padding: 10px 20px;
        background-color: transparent;
        color: var(--Sub-color);
        border: solid 1px;
        border-color: var(--Sub-color)  ;
        font-size: 12px;
        position: absolute;
        bottom: 30px;
        right: 25px;
}