:root{
  --Main-color:#000F44;
  --Sub-color:#FFFFFF;
  --available:#F37C98;
  --approved:#9BF37C;
  --rejected:#F39F7C;
  --pending:#FFAC0A;
  --approved-btn:#02C416;
  --Light:#D9D9D9;
  --Flex-heading:#FFBB00;
  --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
}
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.calendar {
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  /* font-size:10px; */
  font-weight: bold;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.3vh;
  margin-bottom: 10px;
  font-size: 1.7vh;
}

.day-label {
  text-align: center;
}

.dates-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  cursor: pointer;
}

.date-box.empty {
  visibility: hidden; /* Hide empty date boxes */
}

.date-box.active {
  /* background-color: #007bff; */
  color: #fff;
  font-size: 1.7vh;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.calendar-header button{
  font-size: 10px;
}

.calendar-header h5{
  font-size: 12px;
}
.date-box.marked {
  background-color: var(--Sub-color); /* Change to whatever color you prefer */
  color: var(--Main-color);
  position: relative;
}


