:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
  .blogcomment-top{
    height: 8vh;
  }
  .PerformanceLastReport-btn{
    display: flex;
    justify-content: center;
  }
  .PerformanceLastReport-btn button{
    border-radius: 10px;
    border: solid 2px ;
    padding: 2vh 4vh;
    margin-bottom: 2vh;
  }
  .PerformanceLastReport-content{
    height: 56vh;
    overflow: auto;
    scrollbar-width: none;
  }
  .Performance-comment{
    background-color: #EEF6FF;
    border-radius: 10px;
    padding: 1.5vh 2.5vh;
    margin: 0;
    margin-bottom: 1vh;
  }
  .Performance-comment span{
    font-size: 1.7vh;
    color: #646262;
  }
  .Performance-comment p{
    margin: 0;
    font-size: 1.7vh;
    color: var(--Main-color);
  }
  .blogcomment-textarea{
    height: 10vh;
    margin-top: 2vh;
  }
  .blogcomment-textarea textarea{
    height: 10vh;
    width: 100%;
    border: none;
    border-color: var(--Main-color);
    border: solid 1px;
    font-size: 1.8vh;
    padding: 2vh;
    border-radius: 10px;
  }
  .blogcomment-bottom{
    float: right;
    height: 8vh;
  }
  .blogcomment-cancel{
    background-color:var(--Sub-color);
    color: var(--Main-color);
    padding: 1vh 2vh;
    border-radius: 10px;
    border: solid 1px;
    margin-right: 1vh;
  }
  .blogcomment-sent{
    background-color: var(--Main-color);
    color: var(--Sub-color);
    padding: 1vh 3vh;
    border-radius: 10px;
    margin-right: 0vh;
    border: solid 1px;
  }