:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
    --2ST-COLOR: linear-gradient(to top, #86D3EC 100%, #55B7D6 100%, #1E98BE 100%);
  }
  .PayrollFixedRates-content{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
  }
  .PayrollFixedRates-content-row{
    display: flex;
    width: 100%;
  }
  .PayrollFixedRates-content-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding:2.2vh ;
  }
  .PayrollFixedRates-content-col label{
    color: var(--Main-color);
    margin-bottom: 1vh;
    font-weight: 600;
  }
  .PayrollFixedRates-content-col input{
    border-color: var(--Main-color);
    height: 5vh;
    padding-left: 2vh;
    font-size: 2vh;
  }
