:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
  
  .newcomplaint-body{
    padding: 20px;
    width: 79vw;
    display: flex;
    flex-direction: column;
    margin-left: 19vw;
  }
  .form-body{
    
    display: flex;
    width: 95%;
    border-radius: 25px;
    padding: 1.5vw;
    box-shadow: 
    -4px 0px 4px rgba(0, 0, 0, 0.2),  
    0px -4px 4px rgba(0, 0, 0, 0.2), 
    0px 4px 4px rgba(0, 0, 0, 0.2),   
    4px 0px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    margin-top: 4vh;
    margin-left: 4vh;
    
  }
  .form-body:hover{
    
    box-shadow: 
        -10px 0px 10px rgba(134, 183, 254, 0.2),  
        0px -10px 10px rgba(134, 183, 254, 0.2), 
        0px 10px 10px rgba(134, 183, 254, 0.2),   
        10px 0px 10px rgba(134, 183, 254, 0.2); 
   
  }

  input:focus {
    border-color: #86b7fe;
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25); */
}
