/* Colors and styling */
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .leave-body{
    padding: 20px;
    width: 79vw;
    display: flex;
    flex-direction: column;
    margin-left: 17rem;
    margin-top: 0;
    padding: 1rem;
  }

  
  .rectangles_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8%;
  }

  .main_rectangles{
    width: 53vw;
    display: flex;
    justify-content: space-between;
  }
  
  .rectangles {
    width: 32%;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem; 
    position: relative;
    padding-left: 7%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  

   
  }

  .rectangles:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;

  }

  .rectangle_2 {
    background-color: var(--available)
  }
  
  .rectangle_3 {
    background-color:var(--approved-btn)
  }
  
  .rectangle_4 {
    background-color: var(--rejected)
  }

  .small_square {
    width: 25%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.3); /* 30% transparency */
    position: absolute;
    left: 10%; 
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 30px; 
  }
  
  
  .main_box_content{
    font-size: 22px;
    margin-left: 50%;
  }

  .sub_box_content{
    font-size: 14px;
    margin-left: 20px;
  }

  .apply-leave {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#66bee1;
    color: white;
    padding: 1% 5%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    height: 50px;
    gap: 15px;
    font-weight: bold;
    margin-top: 2%;
}

.apply-leave:hover {
    background-color: var(--Main-color); 
}


.add-icon {
  font-size: 22px; 
  color: white;
}


.additional-rectangle-3{
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: var(--Sub-color);
  box-shadow: 1px 4px 4px 4px  rgba(107, 107, 107, 0.1);
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 2%;
  font-size: 17px;
  color: var(--Main-color);
  margin-top: 2%;
  padding-left: 3%;
 
}

.attendance-records-text {
  margin-bottom: 2%;
}

.dropdown-row {
  display: flex;
  gap: 1%;
}

.custom-dropdown {
  padding: 3%;
  padding-right: 100px;
  padding-left: 15px;
  font-size: 12px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #D9D9D9;
}

.leave-search-button{
  padding: 1%;
  font-size: 14px;
  border-radius: 40px;
  color: var(--Sub-color);
  background-color: var(--Main-color);
  margin-left: 90%;
  outline: none;
  padding-left: 7%;
  padding-right: 7%;
  border: 1px solid var(--Main-color);
  font-weight: 500;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  margin-left: 38%;
}


.custom-table-container {
  margin-top: 1%;
  padding: 5px;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px; 
  font-size: 11px;
  border-radius: 20px;
}

.custom-table th {
  background-color: #000F44;
  color: white;
  padding: 1.2%;
  text-align: left;
  margin-left: 1%;
  
}

.custom-table td {
  background-color: white;
  color: #000F44;
  padding: 1%;
  border-radius: 5px;
 
}


.custom-table tr {
  background-color: white;
}




.ontime  , .late , .absent {
  border: 2px solid #213fa9;
  border-radius: 50px;
  color: #FFAC0A; 
  padding: 4%;
  background-color: var(--Sub-color);
  width: 100%;
  align-items: center;
  justify-items: center;
  font-weight: bold;
}

.ontime{
  border: 2px solid var(--approved-btn);
  color: var(--approved-btn); 
}

.late{
  border: 2px solid var(--pending);
  color: var(--pending); 
}

.absent{
  border: 2px solid var(--rejected);
  color: var(--rejected); 
}



/* Apply leave form */

.apply-leave-body{
  
  padding: 20px;
  width: 79vw;
  display: flex;
  flex-direction: column;
  margin-left: 18rem;
  padding: 1rem;

}

.form-container{
  margin-top: 8%;

}

.arrow-icon {
  font-size: 20px;
  cursor: pointer;
  color: var(--Main-color); 
  font-weight: bold;
}

.form-box {

  width: 94%;
  height: auto;
  border-radius: 10px;
  background-color: var(--Sub-color);
  box-shadow: 1px 4px 4px 4px  rgba(107, 107, 107, 0.1);
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  font-size: 17px;
  color: var(--Main-color);
  margin-top: 3%;
  padding-left: 5%;
}

.form-details{
  margin-top: 3%;
  margin-left: 2%;
  font-size:14px ;
  font-weight: 600;
  margin-right: 2%;
}

.one-detail{
  margin-bottom: 2%;
  flex-direction: column;
}

.leave-dropdown {
  padding: 1%;
  padding-right: 100px;
  padding-left: 15px;
  font-size: 11px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #D9D9D9;
  margin-top: 1%;
}


.date-details{
  display: flex;
  justify-content: space-between;
}

.leave-input{
  padding: 5%;
  padding-right: 200px;
  padding-left: 15px;
  font-size: 11px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #D9D9D9;
  margin-top: 3%;
  appearance: none; 

}

.leave-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  position: relative;
  left: 100%;
  filter: grayscale(100%);
 
}

.form-detail-topic{
  font-size: 14px;
}

.leave-input-textarea{
  padding: 3%;
  padding-right: 100px;
  padding-left: 15px;
  font-size: 14px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #D9D9D9;
  margin-top: 1%;
  appearance: none; 
  width: 100%;
  height: 100px;

}

.apply-button {
  background-color: #007BFF; 
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-left: 90%;
 
}

.apply-button:hover {
  background-color: #0056b3; 
}

.one-detail{
  font-size: 14px;
}