/* Colors and styling */
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
  
  .leave-body{
    padding: 20px;
    width: 79vw;
    display: flex;
    flex-direction: column;
    margin-left: 19vw;
  }

  /* leave hr tabs */
  .leave-hr-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-hr {
    padding: 10px 20px;
    border: 2px solid var(--Main-color);
    background-color: var(--Sub-color);
    color: var(--Main-color);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    border-radius: 25px;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .tab-hr.active,
  .tab-hr:hover {
    background-color: var(--Main-color);
    color: var(--Sub-color);
  }

  /* upper div content */
  .leave-rectangles-containers{
  display: flex;
  justify-content: space-between;
  }
  .leave-rectangles-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: -40px;
    justify-content: space-between;
  }
  
  .rectangle-u {
    width: 200px;
    height: 80px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem; 
    position: relative;
    padding-left: 40px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .leave-small-square {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3); /* 30% transparency */
    position: absolute;
    left: 20px; 
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .leave-icon {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 25px; 
  }
  
  .leave-main-box-content{
    font-size: 32px;
    margin-left: 20px;
  }
  
  .leave-sub-box-content{
    font-size: 10px;
    margin-left: 23px;
  }
  
  .leave-sub-box-content-1{
    font-size: 10px;
    margin-left: 24px;
  }
  
  .leave-sub-box-content-2{
    font-size: 10px;
    margin-left: 25px;
  }
  
  /* apply leave */
  
  .leave-additional-rectangle-3{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: var(--Sub-color);
    box-shadow: 0px 0px 0px 6px  rgba(107, 107, 107, 0.1);
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
    color: var(--Main-color);
    margin-top: 20px;
   
  }
  .leave-records-text {
    margin-bottom: 10px;
  }
  
  .dropdown-row {
    display: flex;
    gap: 30px;
  }
  
  .custom-dropdown {
    padding: 5px;
    padding-right: 100px;
    padding-left: 15px;
    font-size: 11px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #D9D9D9;
  }
  
  .leave-custom-table-container {
    margin-top: 10px;
    padding: 5px;
  }
  
  .leave-custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; 
    font-size: 11px;
    border-radius: 20px;
  }
  
  .leave-custom-table th {
    background-color: #000F44;
    color: white;
    padding: 10px;
    text-align: left;
    
  }
  .leave-custom-table td {
    background-color: white;
    color: #000F44;
    padding: 10px;
    border-radius: 5px;
   
  }
  
  .leave-custom-table tr {
    background-color: white;
  }
  .leave-approved  , .leave-pending , .leave-rejected {
    border: 2px solid #213fa9;
    border-radius: 50px;
    color: #FFAC0A; 
    padding: 10px;
    background-color: var(--Sub-color);
    width: 100px;
    align-items: center;
    justify-items: center;
    font-weight: bold;
  }
  
  .leave-approved{
    border: 2px solid var(--approved-btn);
    color: var(--approved-btn); 
  }
  
  .leave-pending{
    border: 2px solid var(--pending);
    color: var(--pending); 
  }
  
  .leave-rejected{
    border: 2px solid var(--rejected);
    color: var(--rejected); 
  }
  
  
  
  
  
  
  
  
  
  
  
  