/* Colors and styling */
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --pending1:#FF9A9A;
    --pendingtext:#7D0000;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --approvedtext:#037A0F;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .complaintcard-body{
    justify-content: center;
    display: flex;
    width: 95%;
    border-radius: 10px;
    padding: 1.5%;
    box-shadow: 1px 2px 4px 2px rgba(107, 107, 107, 0.1);
    cursor: pointer;
    margin-top: 4vh;
    margin-left: 4vh;
    
  }
  .complaintcard-body:hover{
    /* box-shadow: 
    9px 6px 0px rgba(134, 183, 254, 0.2),  
    0px 0px 4px rgba(134, 183, 254, 0.2), 
    0px 4px 4px rgba(134, 183, 254, 0.2),   
    4px 0px 4px rgba(134, 183, 254, 0.2);  */
    /* opacity: 0.8; */
    /* opacity: 0.8; */
    transform: scale(1.01);
  transition: transform 0.2s ease;
  }
  
  .complaintcard-content{
    display: flex;
    flex-direction: row;
    width: 95%;
    /* padding: 2vh; */
  }
  .complaintcard-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .complaintcard-header-gray{
    font-size: 14px;
    color: #ACA7A7;
    
    margin-bottom: 0%;
  }
  .complaintcard-header-about{
    font-size: 1.8vh;
    color: black;
    font-weight: bold;
  }

  .pending_c{
    background-color: var(--pending1);
    border-radius: 20px;
    width: 20vw;
    padding: 5px 10px;
    text-align: center;
    color: var(--pendingtext);
    font-size: 14px;
    font-weight: bold;
    
  }
  .approved_c{
    background-color: var(--approved);
    border-radius: 20px;
    width: 20vw;
    padding: 5px 10px;
    text-align: center;
    color: var(--a);
    font-size: 14px;
    font-weight: bold;
  }
  .reply_c{
    background-color: var(--pending1);
    border-radius: 20px;
    width: 20vw;
    padding: 5px 10px;
    text-align: center;
    color: var(--pendingtext);
    font-size: 14px;
    font-weight: bold;
    
  }
  .replied_c{
    background-color: var(--approved);
    border-radius: 20px;
    width: 20vw;
    padding: 5px 10px;
    text-align: center;
    color: var(--a);
    font-size: 14px;
    font-weight: bold;
  }
  .left-flexbox-complaint{
    display: flex;
    flex-direction: column;
    align-items:start;

  }

  .right-flexbox-complaint{
    display: flex;
    flex-direction: column;
    align-items:end;

  }
  .datetxt{
    font-size: 12px;
    font-weight: bold;
  }
