:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
  .vacancy-popup-body{
    background-color: var(--Sub-color);
    color: var(--Main-color);
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  .vacancy-popup-header{
    color: var(--Main-color);
  }
  .vacancy-popup-title{
    color: var(--Main-color);
  }
  .vacancy-popup-updatedtime{
    color: var(--Light);
    display: flex;
    align-items: center;
  }
  .vacancy-popup-subtitle{
    color: var(--Main-color);
  }
.vacancy-popup-rightpart{
    padding: 30px 50px;
    color: #868585;
}
  .vacancy-popup-leftpart{
    background-color: var(--Main-color);
    color: var(--Sub-color);
    padding: 30px 30px;
    margin: 0px 15px;
    border-radius: 20px;
  }
  .vacancy-popup-salary-down{
    color: #acacac;
    font-size: 14px;
  }
  .vacancy-popup-left-icons{
    display: flex;
  }
  .vacancy-popup-left-icons p{
    margin-left: 20px;
    font-size: 15px;
  }
  .vacancy-popup-applybtn{
    text-align: center;
  }
  .vacancy-popup-applybtn button{
    padding: 10px 30px;
    border: solid var(--Sub-color);
    background-color: #06C2CE;
    color: var(--Sub-color);
    font-size: 14px;
  }
  