/* Colors and styling */
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
  .ontimetrainingcard-body{
    width: 100%;
    border-radius: 25px;
    padding: 1vw;
    box-shadow: 
    -4px 0px 4px rgba(0, 0, 0, 0.2),  
    0px -4px 4px rgba(0, 0, 0, 0.2), 
    0px 4px 4px rgba(0, 0, 0, 0.2),   
    4px 0px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    margin-top: 4vh;
  }