:root{
  --Main-color:#000F44;
  --Sub-color:#FFFFFF;
  --available:#F37C98;
  --approved:#9BF37C;
  --rejected:#F39F7C;
  --pending:#FFAC0A;
  --approved-btn:#02C416;
  --Light:#D9D9D9;
  --Flex-heading:#FFBB00;
  --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
}
.side-bar{
  width: 16vw;
  height: 100vh;
  background-color: var(--Main-color);
  color: var(--Sub-color);
  overflow: hidden;
  position: fixed;
 
}
.side-bar-logo{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* margin-right: 5rem; */
}
.side-bar-logo img{
  height: 4rem;
}
.side-bar-links{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
 
}
.side-bar-link{
  display: flex;
  align-items: center;
  margin: 1px 10px ;
  height: 3rem;
  padding-left: 2rem;
  margin-right: 0rem;
  border-radius:  40px 0px 0px 40px;
 
  
 
}
.side-bar-link:hover{
  background-color: var(--Sub-color);
  color: var(--Main-color);
  cursor: pointer;
  background-color: rgb(223, 223, 223);
  font-weight: 600;
  transition: 0.3s ease;
 
}

.side-bar-link-icon{
 font-size: 25px;
 margin-right: 1rem;
}
.side-bar-link-text{
font-size: 13px;
margin: 0;
}
.side-bar-link.active {
  background-color: white; /* Highlight color for the active link */
  color:var(--Main-color); /* Text color for the active link */
  font-weight: 600;
}

.side-bar-link.active .side-bar-link-icon {
  color: var(--Main-color); /* Icon color for the active link */
}