:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
.side-bar{
    width: 21vw;
    height: 100vh;
    background-color: var(--Main-color);
    color: var(--Sub-color);
    overflow: hidden;
}
.side-bar-logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.side-bar-logo img{
    height: 120px;
}
.side-bar-links{
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */
    margin-top: 35px;
    width: 100%;
}
.side-bar-link{
    display: flex;
    align-items: center;
    margin: 1px 10px ;
    height: 52px;
    padding-left: 30px;
    margin-right: 50px;
    border-radius: 0 30px 30px 0;
}
.side-bar-link:hover{
    background-color: var(--Sub-color);
    color: var(--Main-color);
    cursor: pointer;
}
.side-bar-link-icon{
   font-size: 28px;
   margin-right: 20px;
}
.side-bar-link-text{
  font-size: 17px;
  margin: 0;
}
.side-bar-link.active {
    background-color: #007bff; /* Highlight color for the active link */
    color: #fff; /* Text color for the active link */
  }
  
  .side-bar-link.active .side-bar-link-icon {
    color: #fff; /* Icon color for the active link */
  }