:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }
.img_prof{
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 82px;
}
.div1{
    width: 30%;
    color: var(--Sub-color);
    padding: 20px 5px 20px 20px;
    display: flex;
    flex-direction: column;
    line-height: 4vh;
  }
  .div-img{
    width: 20%;
    color: var(--Sub-color);
    padding: 20px 5px 20px 20px;
    display: flex;
    flex-direction: column;
    line-height: 4vh;
  }

  
  .div2{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: baseline;
  }
  .div3{
    padding: 10px;
  }
  .tablediv1{
   
    padding: 20px;
    border-radius: 10px;
    gap: 5%;
    background-color: var(--Sub-color);
    box-shadow: 1px 2px 4px 2px rgba(107, 107, 107, 0.1);
  }

  .backarrow{
    font-size: 20px;
  }

  .employee-name{
    font-size: 18px;
    font-weight: bold;
  }

  .employee-teamname{
    font-size: 14px;
    margin-right: 2%;
  }

  .employee-details{
    font-size: 14px;
    display: flex;
  }

  .div-part{
    color: var(--Sub-color);
    padding: 20px 5px 20px 20px;
    display: flex;
    flex-direction: column;
    line-height: 4vh;
    margin-top: 15%;
    margin-left: 2%;
  }

  .ability{
    margin-left: 3%;
  }

  .experience-title{
    font-size: 14px;
    font-weight: 600;
    margin-top: 2%;
  }

  .description{
    font-size: 13px;
    margin-top: 2%;
  }