/* Colors and styling */
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --pending1:#FF9A9A;
    --pendingtext:#7D0000;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --approvedtext:#037A0F;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .inquriescard-body{
    font-family: 'BreeSerif-Regular',;
    justify-content: center;
    display: flex;
    width: 99%;
    border-radius: 10px;
    padding: 1%;
    background-color: var(--Sub-color);
    box-shadow: 1px 2px 4px 2px rgba(107, 107, 107, 0.1);
    cursor: pointer;
    margin-top: 2.5vh;
    margin-left: 1%;
    
  }
  .inquriescard-body:hover{
    transform: scale(1.01);
  transition: transform 0.2s ease;
  }
  
  .inquriescard-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0vh 3vh 0vh 3vh;
  }
  .inquriescard-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .inquriescard-header-gray{
    font-size: 13px;
    color: #ACA7A7;
    margin-bottom: 0%;
  }
  .inquriescard-header-about{
    font-size: 13px;
    color: black;
    font-weight: 400;
    margin-top: -1%;
  }

  .pending_c{
    background-color: var(--pending1);
    border-radius: 20px;
    width: 20vh;
    padding: 5px;
    text-align: center;
    color: var(--pendingtext);
    
  }
  .approved_c{
    background-color: var(--approved);
    border-radius: 20px;
    width: 20vh;
    padding: 5px;
    text-align: center;
    color: var(--a);
  }
  .left-flexbox-inquries{
    display: flex;
    flex-direction: column;
    align-items:start;

  }

  .right-flexbox-inquries{
    display: flex;
    flex-direction: column;
    align-items:end;

  }
  .circle{
    height: 40px;
    width: 40px;
    background-color: var(--Main-color);
    color: white;
    border-radius: 50px;
    display: flex;
   justify-content: center; 
   align-items: center;
   font-size: 12px;
  }

  .email-inquiry{
    font-size: 14px;
    font-weight: 600;
  }

  .email-inquiry-date{
    font-size: 14px;
    font-weight: 600;
    margin-left: 60%;
  }

  .view-inquiry{
    font-size: 12px;
  }