/* Colors and styling */
:root{
    --Main-color:#000F44;
    --Sub-color:#FFFFFF;
    --available:#F37C98;
    --pending1:#FF9A9A;
    --pendingtext:#7D0000;
    --approved:#9BF37C;
    --rejected:#F39F7C;
    --pending:#FFAC0A;
    --approved-btn:#02C416;
    --approvedtext:#037A0F;
    --Light:#D9D9D9;
    --Flex-heading:#FFBB00;
    --1ST-COLOR: linear-gradient(to right, #000F44 0%, #00186B 72%, #0025AA 100%);
  }

  .inquriesreplycard-body{
    
    display: flex;
    width: 95%;
    border-radius: 10px;
    padding: 1%;
    background-color: var(--Sub-color);
    box-shadow: 1px 2px 4px 2px rgba(107, 107, 107, 0.1);
    cursor: pointer;
    margin-top: 4vh;
    margin-left: 4vh;
    justify-content: center;
    
  }
  .inquriesreplycard-body:hover{
    transform: scale(1.01);
    transition: transform 0.2s ease;
  }
  
  .inquriesreplycard-content{
    display: flex;
    flex-direction: column;
    width: 95%;
    /* padding: 2vh; */
  }
  .inquriesreplycard-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  
  .inquriesreplycard-header-gray{
    font-size: 1.8vh;
    color: #ACA7A7;
    
    margin-bottom: 0%;
  }
  .inquriesreplycard-header-text{
    margin-left: 2rem;
    font-size: 1.8vh;
    color: black;
    font-weight: bold;
  }
  .inquriesreplycard-header-heading{
    margin-left: 2rem;
    color: black;
    font-weight: bold;
    width: 100%;
    
  }
  

  .pending{
    background-color: var(--pending1);
    border-radius: 20px;
    width: 20vh;
    padding: 5px;
    text-align: center;
    color: var(--pendingtext);
    
  }
  .approved{
    background-color: var(--approved);
    border-radius: 20px;
    width: 20vh;
    padding: 5px;
    text-align: center;
    color: var(--a);
  }
  .left-flexbox-inquriesreply{
    display: flex;
    flex-direction: column;
    align-items:start;

  }

  .right-flexbox-inquriesreply{
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 100%;
    color: #ACA7A7;

  }
  .backarrow{
    margin-left: 1.5rem;
    width: 2rem;
    height: 1.5rem;
    transition: transform 2s ease;
  }
  .backarrow :hover{
    transform: scale(1.1);
    color: #007bff;
  }


.detailbox{
    border: 2px solid ;
    border-radius: 20px;
    width: 100%;
    padding: 1vw;
    margin-top: 2%;
}
.inputtext{
    height: 8rem;
    width: 100%;
    padding: 1vw;
     border: 3px solid #A9A9A9;
    border-radius: 20px;
}

.description-inquiry{
  font-size: 14px;

}

.gradient-blue-btn{
  font-size: 14px;
  border-radius: 5px;
}